body{
background-color:#5536f1;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -5px;
    margin-left: -5px;
}
section {
  height:0px;
  display: flex;
  justify-content: center;
  background-color:#318ce7;
       overflow-x:auto;
    overflow-y:auto;
    border-radius: 20px;
}
.wrapper {
  position: relative;
       overflow-x: hidden;
    overflow-y:auto;
        justify-content: center;
    align-items: center;
    text-align: center;
}
.menu {
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
      background-color: dodgerblue;
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
    background-color: dodgerblue;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
    margin-top: 30px;
  font-weight: 900;
    color: white;
}
.menu-btn {
    display: block;
  width: 40px;
  height: 40px;
  background-color: dodgerblue;
  border-radius: 50%;
  position: absolute;
  right: -45px;
top: 195px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color:white;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.5s;
}
.menu-btn span::before {
  transform:rotate(45deg);
    transform-origin:right;
     width: 12px;
    left: 100%;
}
.menu-btn_active span {
  height: 0;
}
.menu-btn span::after {
     transform:rotate(-45deg);
    transform-origin:right;
    width: 12px;
    left: 100%;
}

.menu-btn_active span:before {
  transform: rotate(45deg);
  transform-origin:center;
    width: 20px;
     top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
    
}

.menu-btn_active span:after {
  transform: rotate(-45deg);
  transform-origin:center;
    width: 20px;
     top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
}

.content {
  transition: 0.5s;
  position: relative;
  z-index: 5;
    overflow-y: auto;
       overflow-x: hidden;
    overflow-y:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
html{
 height: 100vh;
    width: 100vw;
}
.content_active {
  transform: translateX(30%);
    
}
 a{
    
    text-decoration: none;
}
.go h3{
position:absolute;
    font-size: 25px;
    margin-left:35%;
    top: 60%;
    color:white;
    z-index: 15;
}
#fonkomp{
  position: absolute;
    top: 0;
    height: 750px;
    z-index: 0;
}
#fontel{
    display: none;
}
#fonplanshet{
    
    display: none;
}




