
body{
background-color: aliceblue;
    overflow-x: hidden;
    overflow-y: auto;
}
section {
  height: 180px;
  display: flex;
  justify-content: center;
  color:dodgerblue;
       overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 25px;
}
.main {
  background-color: white;
    
}
.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y:auto;
}
.menu {
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
      background-color: dodgerblue;
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
    background-color: dodgerblue;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
    margin-top: 40px;
  font-weight: 900;
    color: white;
}
#first{
    margin-top: 250px;
}
.menu-btn {
    display: block;
  width: 40px;
  height: 40px;
  background-color: dodgerblue;
  border-radius: 50%;
  position: absolute;
  right: -45px;
top: 195px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color:white;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.5s;
}
.menu-btn span::before {
  transform:rotate(45deg);
    transform-origin:right;
     width: 12px;
    left: 100%;
}
.menu-btn_active span {
  height: 0;
}
.menu-btn span::after {
     transform:rotate(-45deg);
    transform-origin:right;
    width: 12px;
    left: 100%;
}

.menu-btn_active span:before {
  transform: rotate(45deg);
  transform-origin:center;
    width: 20px;
     top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
    
}

.menu-btn_active span:after {
  transform: rotate(-45deg);
  transform-origin:center;
    width: 20px;
     top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
}


.header{
    position:relative;
height: 180px;
    width: 100%;
    background-color: dodgerblue;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
}
.header h1 {
    color: aliceblue;
    position: relative;
    font-size: 30px;
}
.content {
    transition: 0.5s;
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 800px;
}
.content_active {
  transform: translateX(30%);
    
}
 a{
    text-decoration: none;
}
#logo{
    display: inline-block;
    height: 100px;
}
.theme{
height: 80px;
    width: 70px;
    background-color: dodgerblue;
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
}
.tema9, .tema8, .tema7, .tema6, .tema5, .tema4, .tema3, .tema2, .tema1{
    min-height: 100vh;
    width: 99vw;
    position:absolute;
    background-color: dodgerblue;
    border-radius: 15px;
    overflow-y: auto;
    transform: translateX(0%);
     transition: 1s;
    left: 0px;
}

.tema1_d, .tema2_d, .tema3_d, .tema4_d, .tema5_d, .tema6_d, .tema7_d, .tema8_d, .tema9_d {
  transform: translateX(-550%);
    
}

.download{
width: 310px;
    display: inline-block;
    min-height: 230px;
    position:relative;
    overflow-y: auto;
    margin-top: 45px;
}

.leksii, .prezentatsii, .praktika{
width: 310px;
    display: inline-block;
    min-height: 550px;
    position:relative;
    overflow-y: auto;
    background-color:deepskyblue;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}
h3{
    text-align: center;
}

.fileIcon{
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
}
.theme a{
color: aliceblue;    
}

