
*{
  box-sizing: border-box;
}

html,
body{
  background-color: #FEDCC8;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;

}
.parallax::before {
    content: "";
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
    transform-style: preserve-3d;

}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
  img{
    display: block;
    position: absolute;
    bottom: 0;
  }

.parallax__cover{
  background: #2D112B;
  display: block;
  position: absolute;
  top: 98.1%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}

.parallax__layer__0{
    transform: translateZ(-12px);
}
.parallax__layer__1{
    transform: translateZ(-12px)
}
.parallax__layer__2{
    transform: translateZ(-10px)
}
.parallax__layer__3{
    transform: translateZ(-1px)
}
.parallax__layer__4{
    transform: translateZ(5px)
}
.parallax__layer__5{
    transform: translateZ(0px) scaleZ(9)
}
.parallax__layer__6{
    transform: translateZ(4px) 
}
