@media screen and (max-width:1025px){
 
    .tema9, .tema8, .tema7, .tema6, .tema5, .tema4, .tema3, .tema2, .tema1{
    min-height: 120px;
    width: 1000px;
    position: absolute;
    background-color: dodgerblue;
    border-radius: 15px;
    overflow-y: auto;
    transform: translateX(0%);
     transition: 1s;
    left: 0px;
} 
    
    .tema1_d, .tema2_d, .tema3_d, .tema4_d, .tema5_d, .tema6_d, .tema7_d, .tema8_d, .tema9_d {
  transform: translateX(-550%);
    
}
    
    .logo{
    display: inline-block;
    height: 140px;
    margin-left: -2.5%;
    margin-top: -5px;
    position:relative;
}
.planC{
   height: 350px; 
    float: right;
     margin-top:42%;
}
.progC{
height: 400px;
    float: left;
    margin-top: 70%;
}
.edu{
position:relative;
    margin-left: 30%;
    margin-top:15%;
color: aliceblue;
    
}
.go{
position:relative;
    font-size: 20px;
    margin-top:20%;
    margin-left: -5%;
    color:white;
}
h4{
    position:relative;
    color: aliceblue;
    margin-top:70%;
    margin-right:30%;
}
.main {
     margin-top: 15px;
 background-color:#318ce7;
    
}
.main h3{
    margin-top: 25px;
    font-size: 9px;
   color: aliceblue;
     padding: 2px;
    display: none;
}   
    
    
}
@media screen and (max-width:769px){
    .logo{
    display: inline-block;
    height: 10px;
    margin-left: -2.5%;
    margin-top: -5px;
    position:relative;
    opacity: 0;
}
.planC{
   height: 270px; 
    float: right;
     margin-top:42%;
}
.progC{
height: 270px;
    float: left;
    margin-top: 50%;
}
.edu{
position:relative;
    margin-left: 30%;
    margin-top:15%;
    font-size: 15px;
color: aliceblue;
    
}
.go{
position:relative;
    font-size: 15px;
    margin-top:20%;
    margin-left: -5%;
    color:white;
}
h4{
    position:relative;
    color: aliceblue;
    margin-top:60%;
    margin-right:0%;
}
.main {
     margin-top: 15px;
 background-color:#318ce7;
    
}
.main h3{
    margin-top: 25px;
    font-size: 10.5px;
   color: aliceblue; 
    display: none;
}   
    
}
@media screen and (max-width:450px){ 
    
    .menu a{
        font-size: 8px;
        
    }
 .logo{
    display: inline-block;
    height: 10px;
    margin-left: -4%;
    margin-top: -5px;
    position:relative;
    opacity: 0;
}
.planC{
   height: 100px; 
    float: right;
     margin-top:52%;
}
.progC{
height: 140px;
    float: left;
    margin-top: 50%;
}
.edu{
position:relative;
    margin-left: 30%;
    margin-top:10%;
    font-size: 15px;
color: aliceblue;
    
}
.go{
position:relative;
    font-size: 15px;
    margin-top:20%;
    margin-left: -5%;
    color:white;
}
h4{
    position:relative;
    color: aliceblue;
    margin-top:60%;
    margin-right:0%;
}
.main {
     margin-top: 15px;
 background-color:#318ce7;
    
}
.main h3{
    margin-top: 5px;
    font-size: 6.2px;
   color: aliceblue; 
    margin-left: -30px;
    padding: 2px;
    display: none;
}      
    
}
@media screen and (max-width:380px){
    
    
    .menu a{
        font-size: 8px;
        
    }
 .logo{
    display: inline-block;
    height: 10px;
    margin-left: -4%;
    margin-top: -5px;
    position:relative;
     opacity: 0;
}
.planC{
   height: 90px; 
    float: right;
     margin-top:52%;
}
.progC{
height: 140px;
    float: left;
    margin-top: 50%;
}
.edu{
position:relative;
    margin-left:2%;
    margin-top:-8%;
    font-size: 10px;
color: aliceblue;
    
}
.go h3{
position:relative;
    font-size: 10px;
    margin-top:20%;
    margin-right: 130px;
    color:white;
}
h4{
    position:relative;
    color: aliceblue;
    margin-top:80%;
    margin-right:0%;
    font-size: 8px;
}
.main {
     margin-top: 15px;
 background-color:#318ce7;
    
}
.main h3{
    margin-top: 5px;
    font-size: 9px;
   color: aliceblue; 
    margin-left: 0px;
}    
    .menu-btn{
        margin-top: -85px;
        height: 35px;
        width: 35px;
    }   
}
@media screen and (max-width:325px){
    
    
           .menu a{
        font-size: 8px;
        
    }
 .logo{
    display: inline-block;
    height: 10px;
    margin-left: -4%;
    margin-top: -5px;
    position:relative;
    opacity: 0;
}
.planC{
   height: 60px; 
    float: right;
     margin-top:52%;
}
.progC{
height: 120px;
    float: left;
    margin-top: 40%;
}
.edu{
position:relative;
    margin-left:2%;
    margin-top:-8%;
    font-size: 10px;
color: aliceblue;
    
}
.go h3{
position:relative;
    font-size: 10px;
    margin-top:20%;
    margin-right: 130px;
    color:white;
}
h4{
    position:relative;
    color: aliceblue;
    margin-top:70%;
    margin-right:0%;
    font-size: 8px;
}
.main {
     margin-top: 15px;
 background-color:#318ce7;
    
}
.main h3{
    margin-top: 5px;
    font-size: 9px;
   color: aliceblue; 
    margin-left: 0px;
}    
    .menu-btn{
        margin-top: -85px;
        height: 30px;
        width: 30px;
    } 
    
}