@media screen and (min-width:765px){
  .header{
    border-radius: 5px 20px 10px 20px;
height: 30vh;
width: 95vw;
background-color:#f2f3f4;
    top: 0;
    left: 0;
        position: relative;
    align-items: center;
    justify-content: center;
}  
 .box {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
}
  .books{
min-height: 145vh;
    max-height: 1000vh;
    width: 100%;
    background-color: #f8f8ff;
    box-shadow: -0px 5px 10px 0px;
    top: -3vh;
    z-index: -5;
     position: relative;
    border-radius: 30px 5px 30px 5px;

} 
 .blogg{
margin-top: 15vh;
    color: dodgerblue;
     font-size: 6.1vw;
} 
    #autortext{
    position: relative;
margin-top: 25vh;
    color: dodgerblue;
        font-size: 6.1vw;
} 
#autorimg{
position: relative;
    height: 45vh;
    width: 45vw;
    margin-top: 10vh;
    margin-left: 20vw;
    border-radius: 5px;
    box-shadow: -0px 5px 10px 0px;
}
  #name{
position:relative;
    margin-top: 2vh;
    margin-left: 14.5vw;
      font-size: 6.1vw;
}  
}

@media screen and (min-width:1024px){
 html{
     overflow-x:hidden;
    width: 98vw;
     z-index: -20;
}
body{
    position: relative;
    background-color:#07273F;
    overflow-x:hidden;
align-items: center;
    justify-content: center;
    z-index: -20;
}

.header{
    border-radius: 5px 20px 10px 20px;
height: 550px;
width: 1000px;
background-color:#f2f3f4;
        position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
overflow-x: hidden;
}
.box {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 38% 62% 63% 37% / 41% 44% 46% 59%;
  box-shadow: 0 0 4px rgba(255, 255, 255, .1), inset 0 0 8px rgba(255, 255, 255, .4);
  transition: background-color .2s ease;
}

.box span:nth-child(1) {
  animation: rotateToLeft 6s linear infinite;
}

.box span:nth-child(2) {
  animation: rotateToLeft 8s linear infinite;
}

.box span:nth-child(3) {
  animation: rotateToLeft 10s linear infinite;
}

.box span:nth-child(4) {
  animation: rotateToRight 12s linear infinite;
}
.box span:nth-child(5) {
  animation: rotateToLeft 12s linear infinite;
}

.box span:nth-child(6) {
  animation: rotateToRight 6s linear infinite;
}

.box .content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, .7);
  padding: 40px;
  font: 16px/24px Arial, sans-serif;
}

.box .content .title{
  font: bold 20px/28px Arial, sans-serif;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, .8);
}

.box .content .description{
  margin-bottom: 20px;
color: white;
    font-size: 3vw;
    margin-left: 20%;
margin-top: 30%;
}

.box .content .button{
  display: inline-block;
  padding: 12px 20px;
  border-radius: 74% 24% 44% 58% / 57% 54% 56% 51%;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  align-self: flex-start;
  margin: 0 auto;
  transition: background-color .2s linear, color .2s linear;
}

span{
  background-color: rgba(35, 82, 167, 0.5);
  // box-shadow: none;
}

 .button{
  background-color: transparent;
  color: #fff;
}

@keyframes rotateToRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateToLeft {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}




.sitata{
   min-height: 1000px;
width: 1000px;
   border-radius: 10px 10px 5px 5px;
    background-color:#f2f3f4;
    position: relative;
   margin-left: 15%;
    z-index: -5;
    overflow-y: hidden;
}
#hello{
font-size: 3vw;
    position: relative;
   margin-top: 25vh;
margin-left: 4vw;
    z-index: 15;
    
}
#hello2{
font-size:3vw;
    position:relative;
   margin-top: 5vh;
 margin-left: 35vw;
    z-index: 15;
}
.ball1, .ball2, .ball3, .ball4, .ball5{
    z-index: 10;
    opacity: 0.6
    
}
.ball1{
    display: block;
    height: 410px;
    width: 410px;
    background-color: darkblue;
    position:absolute;
    z-index: 10;
    border-radius:100%;
   top: 90vh;
    animation: dws-bounce 1s ease-in, dws-moveleft 1.1s ease-in;
  left: -0vw;
    animation-delay: 5s;
}
.ball2{
    display: block;
    height: 50px;
    width: 50px;
    background-color: red;
    position:absolute;
    z-index: 10;
    border-radius:100%;
    top:83.2vh;
    animation: dws-bounce 1.2s ease-in, dws-moveleft 1.1s ease-in;
    left:-0.1vw;
    animation-delay: 5s;
}
.ball3{
    display: block;
    height: 70px;
    width: 70px;
    background-color:yellow;
    position:absolute;
    z-index: 10;
    border-radius:100%;
    top: 96.2vh;
    animation: dws-bounce 1.2s ease-in, dws-moveleft 1.1s ease-in;
    left: 32vw;
    animation-delay: 5s;
}


.ball4{
    display: block;
    height: 40px;
    width: 40px;
    background-color:green;
    position:absolute;
    z-index: 10;
    border-radius:100%;
    top: 91.9vh;
    animation: dws-bounce 1.3s ease-in, dws-moveleft 1.1s ease-in;
    left: 27.5vw;
    animation-delay: 5s;
}

.ball5{
    display: block;
    height: 30px;
    width: 30px;
    background-color:darkviolet;
    position:absolute;
    z-index: 10;
    border-radius:100%;
    top: 101.9vh;
    animation: dws-bounce 1.4s ease-in, dws-moveleft 1.1s ease-in;
   left: 55.5vw;
    animation-delay: 5s;
}

@keyframes dws-bounce{
    0% {margin-top: 0vh;}
    100% {margin-top: 83.2vh;}
    }

.books{
min-height: 1000px;
    width:1000px;
    background-color: #f8f8ff;
    box-shadow: -0px 5px 10px 0px;
    margin-left: 15%;
    z-index: -5;
     position: relative;
    border-radius: 30px 5px 30px 5px;
    overflow: hidden;

}

.text{
    display: none;
}
 .books1{
    background-color:darkgray;
      width: 30vw;
    height: 40vw;
    position: absolute;
    border-radius: 10px;
     box-shadow:  0 0 5px;
    transition:1s;
        margin-top: 1.5vh;
}
#img1{
position: relative;
    width: 100%;
    height: 100%;

}
.books2{
     background-color:darkgray;
          width: 30vw;
    height: 40vw;
    position: absolute;
    border-radius: 10px;
     box-shadow:  0 0 5px;
    transition:1s;
       margin-top: 1.5vh;
}
#img2{
position: relative;
    width: 100%;
    height: 100%;

}
.books3{
    background-color:darkgray;
           width: 30vw;
    height: 40vw;
    position: absolute;
    border-radius: 10px;
     box-shadow:  0 0 5px;
    transition:1s;
     margin-top: 1.5vh;
}
.books4{
    background-color:darkgray;
             width: 30vw;
    height: 40vw;
    position: absolute;
    border-radius: 10px;
     box-shadow:  0 0 5px;
    transition:1s;
    margin-top: 1.5vh;
}
.books5{
    background-color:darkgray;
      width: 30vw;
    height: 40vw;
    position: absolute;
    border-radius: 10px;
     box-shadow:  0 0 5px;
    transition:1s;
       margin-top: 1.5vh;
}
.butnext{
    display: block;
background-color:darkgray;
    position:absolute;
    width: 100px;
    height: 80px;
    top:300px;
    left: 75%;
    border-radius:0 50px 50px 0;
    z-index: 15;
}
    .next1,
.next2{
position: absolute;
width:50px;
    height: 5px;
    background-color:white;
    border-radius: 10px;
    z-index: 15;
    margin-left: 20px;
}
.next2{
margin-top:40px;
    transform-origin:right;
        transform: rotate(35deg);
}
.next1{
margin-top:38px;
    transform-origin:right;
    transform: rotate(-35deg);
} 
.big_left{
   margin-left:-55.5vw;
    transform-origin:left;
    display: block;
    transition:0.5s;
    z-index: -1;
    transition:0.5s;

}
.big_right{
    margin-left:120vw;
    transform-origin:left;
    display: block;
    transition:0.5s;
    z-index: -1;
    transition:0.5s;
  
}
.active{ 
    transform: rotateX(100%);
    display: block;
       display: block;
    transition:0.5s;
    display: block;
     width: 350px;
    height: 430px;
   top:120px;
    left:200px;
}
.lit_rig{
   margin-left:120vw;
    transform-origin:left;
    z-index: -2;
    border-radius: 2px;
    transition:0.5s;
}
.lit_lef{
       margin-left:-55.1vw;
    transform-origin:center;
    z-index: -2;
    border-radius: 3px;
    transition:0.5s;
     
}
.booktext1 {
   left: 3vw;
    top: 2vh;
    font-size:3vw; 
    position: absolute;
}



.short{
      width:1000px;
    min-height: 1200px;
   border-radius: 10px 10px 5px 5px;
    background-color:#f2f3f4;
    position: relative;
    margin-top: -50px;
    margin-left: 15%;
    z-index: -11;
}
.blogg{
margin-top: 50px;
    color: dodgerblue;
    font-size: 5vw;
}
.storytext{
    margin-top: 5%;
font-size: 2.5vw;
    margin-left: 5%;

}
.btn {
  padding: 12px 40px;
  font: 16px/24px Verdana, sans-serif;
  text-decoration: none;
  background: 
    linear-gradient(90deg, 
      #04f5ed, 
      #5c27fe, 
      #c165dd, 
      #04f5ed);
  background-size: 400%;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  animation: glowing 8s linear infinite;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  &:after {
    content: " ";
    position: absolute;
    border-radius: inherit;
    left: -6px;
    right: -6px;
    bottom: -6px;
    top: -6px;
    background: inherit;
    background-size: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
    filter: blur(16px);
    animation: glowing 7s linear infinite;
    transform: translateZ(0);
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

@keyframes glowing {
  100% {
    background-position: -400%;
  }
}
#autortext{
    position: relative;
margin-top: 25vh;
    color: dodgerblue;
    font-size: 4vw;
} 
#autorimg{
position: relative;
    height: 400px;
    width: 300px;
    margin-top: 10vh;
    margin-left: 20vw;
    border-radius: 5px;
    box-shadow: -0px 5px 10px 0px;
}
.autortext2{
    margin-top: 10vh;
    font-size: 3vw;
    margin: 2%;
}
#name{
position:relative;
    margin-top:1%;
    margin-left: 18vw;
    font-size:3.5vw; 
}
.ads{
margin-top: 20vh;
    color: darkcyan;
}   
}
