
body{
align-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
     background-color: #ad93e6;
}
h1{
    color:azure;
    text-align: center;
    margin: 20px;
}
h2{
    color: aliceblue;
    text-align:center;
    margin-top: 60px;  
}
h3{
    text-align: left;
    margin:15px;
    
}
.ring{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-color: #ed87bd;
    position: absolute;
    top: 40%;
    z-index: -1;
}
.autor{
    position: relative;
    float: right;
    
    
}