
html{
     overflow-x:hidden;
    background-color: #1d1d1d;
     width: 98vw;
     overflow-x:hidden;
}
body{
 width: inherit;
     overflow-x:inherit;
       align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
  width: 400px;
  height:400px;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 38% 62% 63% 37% / 41% 44% 46% 59%;
  box-shadow: 0 0 4px rgba(255, 255, 255, .1), inset 0 0 8px rgba(255, 255, 255, .4);
  transition: background-color .2s ease;
}

.box span:nth-child(1) {
  animation: rotateToLeft 6s linear infinite;
}

.box span:nth-child(2) {
  animation: rotateToLeft 8s linear infinite;
}

.box span:nth-child(3) {
  animation: rotateToLeft 10s linear infinite;
}

.box span:nth-child(4) {
  animation: rotateToRight 12s linear infinite;
}
.box span:nth-child(5) {
  animation: rotateToLeft 12s linear infinite;
}

.box span:nth-child(6) {
  animation: rotateToRight 6s linear infinite;
}

.box .content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, .7);
  padding: 40px;
  font: 16px/24px Arial, sans-serif;
}

.box .content .title{
  font: bold 20px/28px Arial, sans-serif;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, .8);
}

.box .content .description{
  margin-bottom: 20px;
color: white;
    font-size: 8vw;
    margin-left: 20%;
margin-top: 30%;
}

.box .content .button{
  display: inline-block;
  padding: 12px 20px;
  border-radius: 74% 24% 44% 58% / 57% 54% 56% 51%;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  align-self: flex-start;
  margin: 0 auto;
  transition: background-color .2s linear, color .2s linear;
}

span{
  background-color:dodgerblue;
  // box-shadow: none;
}

 .button{
  background-color: transparent;
  color: #fff;
}

@keyframes rotateToRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateToLeft {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.kurs1{
    margin-top: 400px;
}
.kurs1,.kurs2,.kurs3,.kurs4 {
position:relative;
    height: 6vh;
    width: 80vw;
    color:aliceblue;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 7vw;
    background-color: #ff3800;

}
p{
position:relative;
     align-items: center;
    justify-content: center;
    text-align: center;
}
.footer{
    overflow:hidden
        ;
    display: inline-block;
    margin-top: 25px;
    border-radius: 15px;
min-height: 55vh;
    max-height: 100vh;
    width:95%;
    background-color: #1a1a1a;
    float: left;
}
h1{
color:aliceblue;
    margin-top: 10px;
}
#davlat{
    color: aliceblue;
}
.insta{
    width: 50px;
}
.telega{
    width: 45px;
    margin-left: 0%;
}

.insad{
color: aliceblue;
}
.tegad{
color: aliceblue;
}
#davlat, .insta, .telega, .insad, .tegad{
margin-left: -55%;
}


#java{
    color: aliceblue;
    margin-top: -250px;
}

#java, #insta1, #telega1, #insad1, #tegad1{
margin-left: 60%;
}
